* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}

h1 {
    font-size: 2rem;
}

.new-book {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.language-select {
    display: flex;
    align-items: center;
}

#language-selector {
    margin-left: 10px;
    padding: 5px 10px;
    height: 35px;
}

.load-data {
    margin-right: 10px;
    padding: 5px 10px;
}

main {
    display: flex;
    margin-top: 20px;
}

.book-list {
    flex: 2;
    margin-right: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
}

td button {
    margin-right: 5px;
}

.delete {
    color: red;
    border: none;
    background: none;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.active-btn {
    background-color: #010101;
    color: #fff;
}

.book-details {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.book-cover {
    width: 150px;
    margin-bottom: 10px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating button {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
}

.rating span {
    margin: 0 10px;
    font-size: 1.5rem;
}

.sidebar {
    display: none;
    background-color: #333;
    color: #030303;
    position: fixed;
    top: 0;
    right: 0;
    width: 50vh;
    height: 100vh;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 20px;
    text-align: center;
}

.sidebar-item {
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;

    height: 40px;


}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;

    cursor: pointer;
    border-radius: 6px;
}

.close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

.for-cursor {
    cursor: pointer;
}

[dir="rtl"] .book-list {
    float: right;
    margin-left: 20px;
}

[dir="rtl"] .book-details {
    float: left;
}

[dir="rtl"] #language-selector {
    margin-right: 3px;
}